@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --white: #ffffff;
    --whiteforall:#ffffff;
    --black: #000000;
    --light-gray: #f6f4f5;
    --light-green: #bef5c5;
    --border-color: #eeeeee;
    --primary: #14121f;
    --secondary: #f8f6f7;
    --paragraph-color: #9a9a9b;
    --border-radius: 8px;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
body.dark-mode {
    --white: #000000;
    --black: #ffffff;
    --whiteforall:#ffffff;
    --light-gray:#000000;
    --light-green: #bef5c5;
    --border-color: #f6f4f5;
    --primary:#f8f6f7;
    --secondary: #14121f;
    --paragraph-color: #9a9a9b;
    --border-radius: 8px;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/*---------------------------------Global CSS----------------------------------*/
* {
    padding: 0;
    margin: 0;
}

::selection {
    background-color: var(--primary);
    color: var(--white);
}

body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 32px;
    color: var(--black);
}

h2 {
    font-size: 20px;
    color: var(--black);
}

h3 {
    font-size: 18px;
    color: var(--black);
}

h4 {
    font-size: 17px;
    color: var(--black);
}

p {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.small {
    font-size: 14px;
    color: var(--paragraph-color);
    line-height: 14px;
}

.paragraph-text {
    font-weight: 600;
    color:var(--black);
    font-weight: 14px;
}
.text-3x{
    font-size: 30px;
}

.primary-button {
    background-color: var(--primary);
    text-align: center;
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
    padding: 10px 15px;
    color: var(--white);
    transition: .3s all ease;
}

.primary-button:hover {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.secondary-button {
    background-color: var(--secondary);
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 10px 15px;
    color: var(--black);
    transition: .3s all ease;
}

.secondary-button:hover {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
    cursor: pointer;
}

.secondary-outline-button {
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
    cursor: pointer;
    text-align: center;
    border-radius: var(--border-radius);
    padding: 10px 50px;
    transition: .3s all ease;
}

.secondary-outline-button:hover {
    background-color: var(--black);
    color: var(--white);

}

.flex {
    display: flex;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;

}

a:hover {
    cursor: pointer;
}

.active-link {
    color: var(--black);
    font-weight: 600;
}

/*===========================Main CSS===========================================*/
.wrapper {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--white);
}

.header {
    display: flex;
}

.header .nav-logo,
.body-section .sidebar,
footer .social-media {
    display: flex;
    width: 20%;
    background-color: var(--light-gray);
    padding: 20px 30px;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.nav-logo .nav-text {
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
}

.nav-logo a {
    text-decoration: none;
    color: var(--black);
}

footer .social-media a {
    text-decoration: none;
    color: var(--black);
}

.header .nav-bar,
.body-section .body-content,
footer .footer-content {
    width: 80%;
    padding: 25px 20px;
    border-bottom: 1px solid var(--border-color);

}

.header .nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    color: var(--black);
}

.header .nav-bar .mobile-menu-button {
    display: none;
    z-index: 999;
}

.nav-btn {
    display: flex;
    column-gap: 20px;
}

.nav-text {
    margin-left: 10px;
}

.body-section {
    display: flex;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    min-height: 300px;
}

.sidebar a {
    text-decoration: none;
    color: var(--primary);
}

.sidebar .sidebar-item {
    display: flex;
    gap: 10px;
    transition: .3s all ease;
    padding: 10px;
    border-radius: var(--border-radius);
    font-size: 15px;

}

.sidebar .sidebar-text {
    color: var(--paragraph-color);
}

.sidebar .sidebar-item:hover {
    transform: translateX(10px);
    background-color: var(--primary);
    color: var(--white);
    border-radius: var(--border-radius);
}

.sidebar-item:hover .sidebar-text span {
    color: var(--white);
}

footer .social-media {
    display: flex;
    justify-content: space-around;
}

footer .social-media i {
    transition: .3s all ease;
}

footer .social-media i:hover {
    transform: translateY(-5px);
}

footer .key-points {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    color: var(--black);
}

.body-content .col-divide {
    display: flex;
    gap: 25px;
    padding-top: 25px;
    justify-content: space-between;
}

.body-content .col-divide .col-left,
.body-content .col-divide .col-right {
    width: 50%;
    /* height:500px;
    max-height: 300px; */
    /* border:1px solid red; */

}

/* ==========================================================Column Left Starts Here====================================================== */
.col-left {
    row-gap: 25px;
}

.col-left .big-card {
    display: flex;
    gap: 25px;
}

.col-left #big-card {
    margin-top: 25px;
}

.col-left .big-card .small-card-1,
.col-left .big-card .small-card-2 {
    width: 50%;
    padding: 25px 20px;
    text-align-last: center;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--border-color);
}

.col-left .card-block {
    column-gap: 25px;
    padding: 25px 20px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    color: var(--black);
}

.col-left .big-card .small-card-1,
.col-left .big-card .small-card-2 {
    width: 50%;
    border-radius: var(--border-radius);
    padding: 20px;
    box-shadow: var(--box-shadow);
    transition: .3s all ease;
}

.col-left .big-card .small-card-1:hover,.col-left .big-card .small-card-2:hover {
    color: var(--white);
    background-color: var(--primary);
    transform: translateY(-5px);

}

 /* {
    color: var(--white);
    background-color: var(--primary);
    transform: translateY(-5px);

} */
.col-left .big-card .small-card-1:hover .dollar-icon{
    background-color: var(--light-green);
    color: var(--primary);
}
.col-left .big-card .small-card-2:hover .dollar-icon {
    background-color: var(--light-green);
    color: var(--primary);
}

.dollar-icon {
    width: 40px;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transition: .3s ease all;
}

.left-value-down-text {
    font-weight: 600;
    font-size: 25px;
}

.col-left .card-block {
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin-top: 25px;
    box-shadow: var(--box-shadow);
    transition: .4s all ease;
}

.col-left .card-block:hover {
    transform: translateY(-5px);
    background-color: var(--primary);
    color: var(--white);

}

.block-card-graph {
    width: 70px;
    height: 70px;
    border: 5px solid var(--border-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid var(--black);
    transform: rotate(45deg);
}

.col-left .card-block:hover .block-card-graph {
    border: 5px solid var(--black);
    border-top: 5px solid var(--white);
}

.block-card-graph span {
    transform: rotate(-45deg);
}

/* ======================================Column Right Start Here================================================ */
.col-right .list-item1,
.col-right .list-item2 {
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
}

.col-right .list-item2 {
    margin-top: 25px;
    line-height: 2.4;
    transition: .4s all ease;
}

.col-right .list-item2:hover {
    transform: translateY(-5px);
    background-color: var(--primary);
    color: var(--white);
}

.col-right .list-item1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    background-color: var(--primary);
    position: relative;
}

.col-right .list-item1 .bar {
    width: 20px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--white);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.list-item1 .bar:nth-child(1) {
    height: 80px;
}

.list-item1 .bar:nth-child(2) {
    height: 120px;
}

.list-item1 .bar:nth-child(3) {
    height: 160px;
}

.list-item1 .bar:nth-child(4) {
    height: 40px;
}

.list-item1 .bar:nth-child(5) {
    height: 60px;
}

.list-item1 .bar:nth-child(6) {
    height: 80px;
}

.list-item1 .bar:nth-child(7) {
    height: 90px;
}

.list-item1 .bar:nth-child(8) {
    height: 55px;
}

.list-item1 .bar:nth-child(9) {
    height: 105px;
}

.list-item1 .bar:nth-child(10) {
    height: 210px;
}

.list-item1 .bar:nth-child(11) {
    height: 103px;
}

.list-item1 .bar:nth-child(12) {
    height: 160px;
}

.bar {
    display: flex;
    justify-content: space-between;
}

.bar span {
    writing-mode: vertical-lr;
    color: var(--black);
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    display: none;
    transition: .4s all ease;
    transform: rotate(180deg);
}
.bar:hover span {
    display: block;
    cursor: pointer;
}

.bold-text {
    font-weight: 600;
}
.col-right .container{
    position: relative;
}
.col-right .container .graph-chart{
    display:flex;
    justify-content:space-between;
    align-items: center;
    position: absolute;
    top:0;
    color:var(--white);
    width:100%;
    
}
.graph-chart .graph-text{ 
    padding:20px;
}
.graph-chart .graph-icon {
    width: 40px;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transition: .3s ease all;
    margin-right: 20px;   
}
.graph-chart .graph-icon:hover {
    background-color: var(--light-green);
    color: var(--primary);
}


/*============================Media Queries====================================================*/
@media screen and (max-width:667px) {
    .body-section .sidebar {
        display: none;
    }

    .sidebar.mobile-menu {
        position: absolute;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 35%;
        min-width: 190px;
        display: block;
        padding: 50px 20px;
        padding-top: 110px;
        transition: 0.5s ease;
        z-index: 2;
        overflow: hidden;
    }

    .sidebar.mobile-menu.active {
        right: 0;
    }

    .header .nav-logo {
        background-color: var(--white);
        border-right: transparent;
    }

    .header .nav-bar .welcome-text {
        display: none;
    }

    .header .nav-bar .mode-button {
        display: none;
    }

    .header .nav-bar .mobile-menu-button {
        display: block;
    }

    .body-section {
        width: 100%;
    }

    .body-section .body-content {
        width: 100%;
    }

    footer .social-media {
        display: none;
    }

    footer .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .wrapper {
        padding: 0;
        margin: 0;
        position: relative;
    }
}

@media screen and (max-width:991px) {
    .body-section .body-content .col-divide {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .body-content .col-divide .col-left {
        width: 100%;
    }

    .body-content .col-divide .col-right {
        width: 100%;
    }
}